@import "tailwindcss";


@theme {
    --font-family-sans: "CatSong", ui-sans-serif, system-ui, sans-serif;

    --color-mid-ocean: #1266c7;
}

@font-face {
    font-family: 'CatSong';
    src: url('/fonts/catsong.ttf') format('truetype');
    font-weight: normal;
    font-display: swap;
}

h1, h2, h3, h4 {
  font-family: 'CatSong', sans-serif;
}

:root {
    font-family: "CatSong", sans-serif;
}