@import "tailwindcss";

@theme {
    --font-family-sans: "CatSong", ui-sans-serif, system-ui, sans-serif;
}

@font-face {
    font-family: 'CatSong';
    src: url('/fonts/catsong.ttf') format('truetype');
    font-weight: normal;
    font-display: swap;
}

:root {
    font-family: "CatSong", sans-serif;
}