@import "tailwindcss";

@theme {
    --font-family-sans: "CatSong", sans-serif;
}

@font-face {
    font-family: 'CatSong';
    src: url('/fonts/CatSong.ttf') format('truetype');
    font-weight: normal;
    font-display: swap;
}

html, body {
    font-family: "CatSong", sans-serif;
}