@import "tailwindcss";

@source "./src/**/*.{astro,html,js,jsx,md,mdx,svelte,ts,tsx,vue}";

@theme {
    --font-sans: "CatSong", ui-sans-serif, system-ui, sans-serif;
    --color-mid-ocean: #1266c7;
    --color-light-ocean: #79d5fc;
}


@font-face {
    font-family: 'CatSong';
    src: url('/fonts/catsong.ttf') format('truetype');
    font-weight: normal;
    font-display: swap;
}

h1, h2, h3, h4 {
  font-family: 'CatSong', sans-serif;
}

@layer base {
  body {
    @apply font-sans;
  }
  h1, h2, h3 {
    @apply font-sans;
  }
}