---
import Layout from '../layouts/Layout.astro';
---

<Layout>

</Layout>

<div class="mb-16 w-3xl p-6 bg-white/10 backdrop-blur-sm rounded-2xl border justify-center place-self-center text-center border-white">
    <h1 class="text-2xl">
        ~Hi there I'm kat~
    </h1>
    <p>
        I like a lot of stuff
    </p>
</div>