---
import Layout from '../layouts/Layout.astro';
---

<Layout>

</Layout>

<div class="mb-16 w-3xl p-6 bg-mid-ocean/40 backdrop-blur-sm rounded-2xl border justify-center place-self-center text-center border-white">
    <h1 class="text-2xl">
        ~ Hi there I'm katie ~
    </h1>
    <p>
        Thanks for stopping by my little corner of the internet :) Want to know about me? Well you do now, here are the facts:
    </p>

    <ul class="list-disc list-inside text-left inline-block">
        <li>pronouns: she/they</li>
        <li>where: somewhere in the U.S.</li>
        <li>mbti: infj</li>
        <li>boba order: anything fruit without boba pearls :o</li>
        <li>boba order: anything fruit without boba pearls :o</li>
    </ul>
</div>