---
import Layout from "../layouts/Layout.astro";
---

<Layout />

<div
  class="w-3xl p-6 bg-mid-ocean/20 backdrop-blur-sm rounded-2xl border justify-center place-self-center text-center border-white hover:scale-[1.05] hover:shadow-[0_0_20px_7px_rgba(255,255,255,0.5)] transition-transform"
>
  <h1 class="text-2xl">~I like a lot of stuff~</h1>
  <p>
    Don't mind me while I fangirl over many things. Here's a look at some images
    I've pulled from my Pinterest boards (I love Pinterest)
  </p>
</div>

<div
  class="w-11/12 p-6 mb-8 gap-8 justify-center place-self-center grid grid-cols-2"
>
  <!--Ghibli-->
  <div
    class="p-6 w-full text-center bg-mid-ocean/50 backdrop-blur-sm rounded-2xl border border-white hover:scale-[1.05] hover:shadow-[0_0_20px_7px_rgba(255,255,255,0.5)] transition-transform"
  >
    <h1 class="text-2xl">Ghibli</h1>
    <p class="mb-2">my artistic inspiration since childhood~</p>
    <div class="grid grid-cols-2 gap-4">
      <!--Totoro -->
      <div
        class="group relative overflow-hidden rounded-2xl cursor-pointer border border-white/50"
      >
        <img
          src="/assets/totoro.gif"
          class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110"
        />

        <div
          class="absolute inset-0 bg-black/50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          <span class="text-white text-base"> My Neighbor Totoro </span>
        </div>
      </div>
      <!--Kiki -->
      <div
        class="group relative overflow-hidden rounded-2xl cursor-pointer border border-white/50"
      >
        <img
          src="/assets/kiki.gif"
          class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110"
        />

        <div
          class="absolute inset-0 bg-black/50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          <span class="text-white text-base"> Kiki's Delivery Service </span>
        </div>
      </div>
      <!--Howl's moving castle -->
      <div
        class="group relative overflow-hidden rounded-2xl cursor-pointer border border-white/50"
      >
        <img
          src="/assets/howl.avif"
          class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110"
        />

        <div
          class="absolute inset-0 bg-black/50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          <span class="text-white text-base"> Howl's Moving Castle </span>
        </div>
      </div>
      <!--Princess Mononoke -->
      <div
        class="group relative overflow-hidden rounded-2xl cursor-pointer border border-white/50"
      >
        <img
          src="/assets/princess.gif"
          class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110"
        />

        <div
          class="absolute inset-0 bg-black/50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          <span class="text-white text-base"> Princess Mononoke </span>
        </div>
      </div>
    </div>
  </div>

  <!--Cats-->
  <div
    class="p-6 w-full text-center bg-mid-ocean/50 backdrop-blur-sm rounded-2xl border border-white hover:scale-[1.05] hover:shadow-[0_0_20px_7px_rgba(255,255,255,0.5)] transition-transform"
  >
    <h1 class="text-2xl">Cats</h1>
    <p class="mb-2">they make the world a better place &lt;3</p>
    <div class="grid grid-cols-2 gap-4">
      <!--Blep -->
      <div
        class="group relative overflow-hidden rounded-2xl cursor-pointer border border-white/50"
      >
        <img
          src="/assets/blep.jpeg"
          class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110"
        />

        <div
          class="pointer-events-none absolute inset-0 bg-black/50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          <span class="text-white text-base"> blep </span>
        </div>
      </div>
      <!--Derp -->
      <div
        class="group relative overflow-hidden rounded-2xl cursor-pointer border border-white/50"
      >
        <img
          src="/assets/derp.jpeg"
          class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110"
        />

        <div
          class="pointer-events-none absolute inset-0 bg-black/50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          <span class="text-white text-base"> bloop </span>
        </div>
      </div>
      <!--Duck -->
      <div
        class="group relative overflow-hidden rounded-2xl cursor-pointer border border-white/50"
      >
        <img
          src="/assets/duck.jpeg"
          class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110"
        />

        <div
          class="absolute inset-0 bg-black/50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          <span class="text-white text-base"> boop </span>
        </div>
      </div>
      <!--Jump -->
      <div
        class="group relative overflow-hidden rounded-2xl cursor-pointer border border-white/50"
      >
        <img
          src="/assets/jump.jpeg"
          class="w-full h-full object-cover overflow-hidden transition-transform duration-500 group-hover:scale-110"
        />

        <div
          class="absolute inset-0 bg-black/50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          <span class="text-white text-base"> blaaa </span>
        </div>
      </div>
    </div>
  </div>

  <!--Bailey-->
  <div
    class="p-6 w-full text-center bg-mid-ocean/50 backdrop-blur-sm rounded-2xl border border-white hover:scale-[1.05] hover:shadow-[0_0_20px_7px_rgba(255,255,255,0.5)] transition-transform"
  >
    <h1 class="text-2xl">Bailey Sok</h1>
    <p class="mb-2">
      i am OBSESSED. i think ive watched all of her videos at least 3 times its
      not ok
    </p>
    <div class="grid grid-cols-2 gap-4">
      <!--juggernaut -->
      <div
        class="group relative overflow-hidden rounded-2xl cursor-pointer border border-white/50"
      >
        <a
          class="pointer-events-auto"
          href="https://www.youtube.com/watch?v=v6HrOqKFiMg"
        >
          <img
            src="/assets/bs-1.png"
            class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110"
          />
        </a>

        <div
          class="pointer-events-none absolute inset-0 bg-black/50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          <span class="text-white text-base"> Juggernaut</span>
        </div>
      </div>
      <!--everything i wanted -->
      <div
        class="group relative overflow-hidden rounded-2xl cursor-pointer border border-white/50"
      >
        <a
          class="pointer-events-auto"
          href="https://www.youtube.com/watch?v=Z5INLkfv5ik"
        >
          <img
            src="/assets/bs-3.png"
            class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110"
          />
        </a>

        <div
          class="pointer-events-none absolute inset-0 bg-black/50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          <span class="text-white text-base"> everything i wanted </span>
        </div>
      </div>
      <!--2 Step -->
      <div
        class="group relative overflow-hidden rounded-2xl cursor-pointer border border-white/50"
      >
        <a
          class="pointer-events-auto"
          href="https://www.youtube.com/watch?v=p8f9_9yQMHw&list=RDp8f9_9yQMHw&start_radio=1"
        >
          <img
            src="/assets/bs-2.png"
            class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110"
          />
        </a>

        <div
          class="pointer-events-none absolute inset-0 bg-black/50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          <span class="text-white text-base"> 2 Step </span>
        </div>
      </div>
      <!--Go Quietly -->
      <div
        class="group relative overflow-hidden rounded-2xl cursor-pointer border border-white/50"
      >
        <a
          class="pointer-events-auto"
          href="https://www.youtube.com/watch?v=hyCYGrcK_t8"
        >
          <img
            src="/assets/bs-4.png"
            class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110"
          />
        </a>

        <div
          class="pointer-events-none absolute inset-0 bg-black/50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          <span class="text-white text-base"> Go Quietly </span>
        </div>
      </div>
    </div>
  </div>

  <!--Sugar-->
  <div
    class="p-6 w-full text-center bg-mid-ocean/50 backdrop-blur-sm rounded-2xl border border-white hover:scale-[1.05] hover:shadow-[0_0_20px_7px_rgba(255,255,255,0.5)] transition-transform"
  >
    <h1 class="text-2xl">Sugar</h1>
    <p class="mb-2">i can't live without it</p>
    <div class="grid grid-cols-2 gap-4">
      <!--Tiramisu-->
      <div
        class="group relative overflow-hidden rounded-2xl cursor-pointer border border-white/50"
      >
        <img
          src="/assets/tiramisu.jpeg"
          class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110"
        />

        <div
          class="pointer-events-none absolute inset-0 bg-black/50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          <span class="text-white text-base"> tiramisu </span>
        </div>
      </div>
      <!--Mochi-->
      <div
        class="group relative overflow-hidden rounded-2xl cursor-pointer border border-white/50"
      >
        <img
          src="/assets/mochi.jpeg"
          class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110"
        />

        <div
          class="pointer-events-none absolute inset-0 bg-black/50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          <span class="text-white text-base"> mochi </span>
        </div>
      </div>
      <!--Mint Chip-->
      <div
        class="group relative overflow-hidden rounded-2xl cursor-pointer border border-white/50"
      >
        <img
          src="/assets/mint.jpeg"
          class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110"
        />

        <div
          class="absolute inset-0 bg-black/50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          <span class="text-white text-base"> mint chip </span>
        </div>
      </div>
      <!--Egg Tart-->
      <div
        class="group relative overflow-hidden rounded-2xl cursor-pointer border border-white/50"
      >
        <img
          src="/assets/egg-tart.jpeg"
          class="w-full h-full object-cover overflow-hidden transition-transform duration-500 group-hover:scale-110"
        />

        <div
          class="absolute inset-0 bg-black/50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          <span class="text-white text-base"> egg tart </span>
        </div>
      </div>
    </div>
  </div>

  <!--Jang Wonyoung-->
  <div
    class="p-6 w-full text-center bg-mid-ocean/50 backdrop-blur-sm rounded-2xl border border-white hover:scale-[1.05] hover:shadow-[0_0_20px_7px_rgba(255,255,255,0.5)] transition-transform"
  >
    <h1 class="text-2xl">Jang Wonyoung</h1>
    <p class="mb-2">another woman I'm too obsessed with</p>
    <div class="grid grid-cols-2 gap-4">
      <!--hi-->
      <div
        class="group relative overflow-hidden rounded-2xl cursor-pointer border border-white/50"
      >
        <img
          src="/assets/cowboy.jpeg"
          class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110"
        />

        <div
          class="pointer-events-none absolute inset-0 bg-black/50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          <span class="text-white text-base"> heyy </span>
        </div>
      </div>
      <!--Mochi-->
      <div
        class="group relative overflow-hidden rounded-2xl cursor-pointer border border-white/50"
      >
        <img
          src="/assets/glasses.jpeg"
          class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110"
        />

        <div
          class="pointer-events-none absolute inset-0 bg-black/50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          <span class="text-white text-base"> :) </span>
        </div>
      </div>
      <!--Mint Chip-->
      <div
        class="group relative overflow-hidden rounded-2xl cursor-pointer border border-white/50"
      >
        <img
          src="/assets/little.jpeg"
          class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110"
        />

        <div
          class="absolute inset-0 bg-black/50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          <span class="text-white text-base"> o </span>
        </div>
      </div>
      <!--Egg Tart-->
      <div
        class="group relative overflow-hidden rounded-2xl cursor-pointer border border-white/50"
      >
        <img
          src="/assets/cool.jpeg"
          class="w-full h-full object-cover overflow-hidden transition-transform duration-500 group-hover:scale-110"
        />

        <div
          class="absolute inset-0 bg-black/50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          <span class="text-white text-base"> B) </span>
        </div>
      </div>
    </div>
  </div>

  <!--Math-->
  <div
    class="p-6 w-full text-center bg-mid-ocean/50 backdrop-blur-sm rounded-2xl border border-white hover:scale-[1.05] hover:shadow-[0_0_20px_7px_rgba(255,255,255,0.5)] transition-transform"
  >
    <h1 class="text-2xl">Mathematics</h1>
    <p class="mb-2">another woman I'm too obsessed with &lt;3</p>
    <div class="grid grid-cols-2 gap-4">
      <!--klein-->
      <div
        class="group relative overflow-hidden rounded-2xl cursor-pointer border border-white/50"
      >
        <img
          src="/assets/klein.jpg"
          class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110"
        />

        <div
          class="pointer-events-none absolute inset-0 bg-black/50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          <span class="text-white text-base p-4">
            klein bottle (i want this 4 christmas :&lt;3)
          </span>
        </div>
      </div>
      <!--geo-->
      <div
        class="group relative overflow-hidden rounded-2xl cursor-pointer border border-white/50"
      >
        <img
          src="/assets/geo.webp"
          class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110"
        />

        <div
          class="pointer-events-none absolute inset-0 bg-black/50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          <span class="text-white text-base"> i'm a retired geo main </span>
        </div>
      </div>
      <!--Mint Chip-->
      <div
        class="group relative overflow-hidden rounded-2xl cursor-pointer border border-white/50"
      >
        <img
          src="/assets/black-hole.jpg"
          class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110"
        />

        <div
          class="absolute inset-0 bg-black/50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          <span class="text-white text-base"> enter the wormhole </span>
        </div>
      </div>
      <!--Egg Tart-->
      <div
        class="group relative overflow-hidden rounded-2xl cursor-pointer border border-white/50"
      >
        <img
          src="/assets/lie-groups.jpg"
          class="w-full h-full object-cover overflow-hidden transition-transform duration-500 group-hover:scale-110"
        />

        <div
          class="absolute inset-0 bg-black/50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          <span class="text-white text-base"> of what </span>
        </div>
      </div>
    </div>
  </div>

  <!--On Top -->
  <div
    class="hidden w-full md:flex fixed top-15 left-20 z-100 pointer-events-none flex-col items-start"
  >
    <div
      id="blob1"
      class="absolute top-100 -left-60 w-100 h-100 bg-white/40 rounded-full transition-transform duration-700 pointer-events-none group-hover:scale-[22]"
    >
    </div>

    <div
      id="blob2"
      class="absolute top-10 left-0 w-40 h-40 bg-white/40 rounded-full transition-transform duration-700 pointer-events-none group-hover:scale-[22]"
    >
    </div>

    <div
      id="blob3"
      class="absolute top-50 -right-40 w-80 h-80 bg-white/40 rounded-full transition-transform duration-700 pointer-events-none group-hover:scale-[22]"
    >
    </div>

    <div
      id="blob4"
      class="absolute -top-10 right-40 w-40 h-40 bg-white/40 rounded-full transition-transform duration-700 pointer-events-none group-hover:scale-[22]"
    >
    </div>

    <div
      id="blob5"
      class="absolute -top-50 right-60 w-20 h-20 bg-white/40 rounded-full transition-transform duration-700 pointer-events-none group-hover:scale-[22]"
    >
    </div>
  </div>

  <div
    id="whale"
    class="hidden md:flex fixed top-15 left-20 z-100 pointer-events-none flex-col items-start"
  >
    <div class="group relative w-1/4 mb-16 flex items-start justify-center">
      <div
        class="absolute top-10 w-10 h-10 bg-white/80 rounded-full transition-transform duration-700 pointer-events-none group-hover:scale-[22]"
      >
      </div>

      <img
        id="heart-button"
        src="/assets/whale-1.png"
        alt="whale"
        class="relative w-full cursor-pointer pointer-events-auto hover:scale-[1.5] transition-transform z-10"
      />
    </div>
    <audio id="heart-music" src="/assets/turn-it-up.mp3"></audio>

    <div
      id="now-playing"
      class="opacity-0 transition-opacity duration-1000 w-1/4 justify-center items-center"
    >
      <div
        class="flex items-center place-self-center justify-center self-justify-center w-1/2 text-mid-ocean z-500 px-4 py-1 rounded-full text-2xl text-center"
      >
        Click Me
      </div>
    </div>
  </div>

  <div
    id="jelly"
    class="hidden md:flex fixed bottom-0 right-20 z-100 pointer-events-none flex-col items-end"
  >
    <div class="group relative w-1/4 mb-16 flex items-end justify-center">
      <div
        class="absolute top-40 w-1 h-1 bg-white/60 rounded-full transition-transform duration-700 pointer-events-none group-hover:scale-[300]"
      >
      </div>

      <img
        src="/assets/jellyfish.png"
        alt="whale"
        class="relative w-full cursor-pointer pointer-events-auto scale-[1.5] hover:scale-[2] transition-transform z-10"
      />
    </div>
  </div>

  <script>
    //scroll
    const whale = document.getElementById("whale");
    const jelly = document.getElementById("jelly");
    const blob1 = document.getElementById("blob1");
    const blob2 = document.getElementById("blob2");
    const blob3 = document.getElementById("blob3");
    const blob4 = document.getElementById("blob4");
    const blob5 = document.getElementById("blob5");

    window.addEventListener("scroll", () => {
      const scrolled = window.scrollY;

      const scrollSpeed = scrolled * 0.2;

      if (whale && jelly && blob1 && blob2 && blob3 && blob4 && blob5) {
        whale.style.transform = `translateY(${scrollSpeed * 3}px)`;
        jelly.style.transform = `translateY(${scrollSpeed}px)`;
        blob1.style.transform = `translateY(${scrollSpeed * 5}px)`;
        blob2.style.transform = `translateY(${scrollSpeed * 3}px)`;
        blob3.style.transform = `translateY(${scrollSpeed*7}px)`;
        blob4.style.transform = `translateY(${scrollSpeed*4}px)`;
        blob5.style.transform = `translateY(${scrollSpeed*11}px)`;
      }
    });

    //music
    const playlist = [
      {
        title: "Spring Waltz - The Tale of the Princess Kaguya",
        file: "/assets/music/SpringWaltz.mp3",
      },
      {
        title: "The Girls Who Fell from the Sky - Castle in the Sky",
        file: "/assets/music/FellSky.mp3",
      },
      {
        title: "The Flower Garden - Howl's Moving Castle",
        file: "/assets/music/TheFlowerGarden.mp3",
      },
    ];

    const heartButton = document.getElementById("heart-button");
    const music = document.getElementById("heart-music") as HTMLAudioElement;
    const nowBox = document.getElementById("now-playing");
    let index = -1;

    let isPlaying = false;

    if (heartButton && music && nowBox) {
      heartButton.addEventListener("click", () => {
        index += 1;
        if (index >= playlist.length) {
          index = 0;
        }
        const randomTrack = playlist[index];

        music.src = randomTrack.file;
        music.play();

        (heartButton as HTMLImageElement).src = "/assets/whale-2.png";
        nowBox.innerText = `Now Playing: ${randomTrack.title}`;
        isPlaying = true;
        nowBox.classList.remove("opacity-0");
        nowBox.classList.add("opacity-100");
      });

      heartButton.addEventListener("mouseenter", () => {
        (heartButton as HTMLImageElement).src = "/assets/whale-2.png";
        nowBox.classList.remove("opacity-0");
        nowBox.classList.add("opacity-100");
      });

      heartButton.addEventListener("mouseleave", () => {
        (heartButton as HTMLImageElement).src = "/assets/whale-1.png";
        nowBox.classList.remove("opacity-100");
        nowBox.classList.add("opacity-0");
      });
    }
  </script>
</div>
