---
import Layout from "../layouts/Layout.astro";
---

<Layout />

<div
  class="w-3xl p-6 bg-mid-ocean/20 backdrop-blur-sm rounded-2xl border justify-center place-self-center text-center border-white"
>
  <h1 class="text-2xl">~I like a lot of stuff~</h1>
  <p>
    Don't mind me while I fangirl over many things. Here's a look at some images
    I've pulled from my Pinterest boards (I love Pinterest)
  </p>
</div>

<div class="w-5/6 p-6 gap-4 justify-center place-self-center grid grid-cols-2">
  <!--Ghibli-->
  <div
    class="p-6 w-full text-center bg-mid-ocean/50 backdrop-blur-sm rounded-2xl border border-white"
  >
    <h1 class="text-2xl">Ghibli</h1>
    <p class="mb-2">my artistic inspiration since childhood~</p>
    <div class="grid grid-cols-2 gap-4">
      <!--Totoro -->
      <div
        class="group relative overflow-hidden rounded-2xl cursor-pointer border border-white/50"
      >
        <img
          src="/assets/totoro.gif"
          class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110"
        />

        <div
          class="absolute inset-0 bg-black/50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          <span class="text-white text-base"> My Neighbor Totoro </span>
        </div>
      </div>
      <!--Kiki -->
      <div
        class="group relative overflow-hidden rounded-2xl cursor-pointer border border-white/50"
      >
        <img
          src="/assets/kiki.gif"
          class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110"
        />

        <div
          class="absolute inset-0 bg-black/50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          <span class="text-white text-base"> Kiki's Delivery Service </span>
        </div>
      </div>
      <!--Howl's moving castle -->
      <div
        class="group relative overflow-hidden rounded-2xl cursor-pointer border border-white/50"
      >
        <img
          src="/assets/howl.avif"
          class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110"
        />

        <div
          class="absolute inset-0 bg-black/50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          <span class="text-white text-base"> Howl's Moving Castle </span>
        </div>
      </div>
      <!--Princess Mononoke -->
      <div
        class="group relative overflow-hidden rounded-2xl cursor-pointer border border-white/50"
      >
        <img
          src="/assets/princess.gif"
          class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110"
        />

        <div
          class="absolute inset-0 bg-black/50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          <span class="text-white text-base"> Princess Mononoke </span>
        </div>
      </div>
    </div>
  </div>

  <!--Art-->
  <div
    class="p-6 w-full text-center bg-mid-ocean/50 backdrop-blur-sm rounded-2xl border border-white"
  >
    <h1 class="text-2xl">Artists</h1>
    <p class="mb-2">My fav artists &lt;3</p>
    <div class="grid grid-cols-2 gap-4">
      <!--Totoro -->
      <div
        class="group relative overflow-hidden rounded-2xl cursor-pointer border border-white/50"
      >
        <a
          class="pointer-events-auto"
          href="https://www.youtube.com/watch?v=v6HrOqKFiMg"
        >
          <img
            src="/assets/bs-1.png"
            class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110"
          />
        </a>

        <div
          class="pointer-events-none absolute inset-0 bg-black/50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          <span class="text-white text-base"> Juggernaut </span>
        </div>
      </div>
      <!--Kiki -->
      <div
        class="group relative overflow-hidden rounded-2xl cursor-pointer border border-white/50"
      >
        <img
          src="/assets/kiki.gif"
          class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110"
        />

        <div
          class="absolute inset-0 bg-black/50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          <span class="text-white text-base"> Kiki's Delivery Service </span>
        </div>
      </div>
      <!--Howl's moving castle -->
      <div
        class="group relative overflow-hidden rounded-2xl cursor-pointer border border-white/50"
      >
        <img
          src="/assets/howl.avif"
          class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110"
        />

        <div
          class="absolute inset-0 bg-black/50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          <span class="text-white text-base"> Howl's Moving Castle </span>
        </div>
      </div>
      <!--Princess Mononoke -->
      <div
        class="group relative overflow-hidden rounded-2xl cursor-pointer border border-white/50"
      >
        <img
          src="/assets/princess.gif"
          class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110"
        />

        <div
          class="absolute inset-0 bg-black/50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          <span class="text-white text-base"> Princess Mononoke </span>
        </div>
      </div>
    </div>
  </div>

  <!--Bailey-->
  <div
    class="p-6 w-full text-center bg-mid-ocean/50 backdrop-blur-sm rounded-2xl border border-white"
  >
    <h1 class="text-2xl">Bailey Sok</h1>
    <p class="mb-2">
      i am OBSESSED. i think ive watched all of her videos at least 3 times its
      not ok
    </p>
    <div class="grid grid-cols-2 gap-4">
      <!--juggernaut -->
      <div
        class="group relative overflow-hidden rounded-2xl cursor-pointer border border-white/50"
      >
        <a
          class="pointer-events-auto"
          href="https://www.youtube.com/watch?v=v6HrOqKFiMg"
        >
          <img
            src="/assets/bs-1.png"
            class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110"
          />
        </a>

        <div
          class="pointer-events-none absolute inset-0 bg-black/50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          <span class="text-white text-base"> Juggernaut</span>
        </div>
      </div>
      <!--everything i wanted -->
      <div
        class="group relative overflow-hidden rounded-2xl cursor-pointer border border-white/50"
      >
        <a
          class="pointer-events-auto"
          href="https://www.youtube.com/watch?v=Z5INLkfv5ik"
        >
          <img
            src="/assets/bs-3.png"
            class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110"
          />
        </a>

        <div
          class="pointer-events-none absolute inset-0 bg-black/50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          <span class="text-white text-base"> everything i wanted </span>
        </div>
      </div>
      <!--2 Step -->
      <div
        class="group relative overflow-hidden rounded-2xl cursor-pointer border border-white/50"
      >
        <a
          class="pointer-events-auto"
          href="https://www.youtube.com/watch?v=p8f9_9yQMHw&list=RDp8f9_9yQMHw&start_radio=1"
        >
          <img
            src="/assets/bs-2.png"
            class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110"
          />
        </a>

        <div
          class="pointer-events-none absolute inset-0 bg-black/50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          <span class="text-white text-base"> 2 Step </span>
        </div>
      </div>
      <!--Princess Mononoke -->
      <div
        class="group relative overflow-hidden rounded-2xl cursor-pointer border border-white/50"
      >
        <img
          src="/assets/princess.gif"
          class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110"
        />

        <div
          class="absolute inset-0 bg-black/50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          <span class="text-white text-base"> Princess Mononoke </span>
        </div>
      </div>
    </div>
  </div>
</div>
