---
import Layout from "../layouts/Layout.astro";
---

<Layout />

<div
  class="w-3xl p-6 bg-mid-ocean/20 backdrop-blur-sm rounded-2xl border justify-center place-self-center text-center border-white"
>
  <h1 class="text-2xl">~I like a lot of stuff~</h1>
  <p>Here's a look at some images I've pulled from my Pinterest boards</p>
</div>

<div class="w-6xl p-6 gap-4 justify-center place-self-center flex flex-col">
  <div class="gap-4 w-full items-center flex flex-row">
    <div
      class="p-6 w-full text-center backdrop-blur-sm rounded-2xl border border-white"
    >
      <h1 class="text-2xl">Ghibli</h1>
    </div>
    <div
      class="p-6 w-full text-center backdrop-blur-sm rounded-2xl border border-white"
    >
      <h1 class="text-2xl">Cats</h1>
    </div>
  </div>
</div>
