---
import {ClientRouter} from 'astro:transitions'
import '../styles/global.css'
import type { ZodString } from 'astro/zod'

export interface Props {
    title: string
    description: string
    permalink: ZodString
}

const {title, description, permalink} = Astro.props
const socialUrl = Astro.site?.href + 'assets/social.png' || 'assets/social.png'
---

<!--Global Metadata -->
<meta charset = "utf-8" />
<meta name = "viewport" content = "width=device-width, initial-scale=1" />
<link rel="icon" type="image/x-icon" href="favicon.ico" />

<!-- Primary Meta Tags -->
 <title>{title}</title>
 <meta name="title" content={title} />
<meta name="description" content={description} />