---
// src/components/Header.astro

const { current = " " } = Astro.props;
---

<style>
  header {
    display: flex;
    margin: 0 auto;
    padding: 2em;
    width: 100%;
  }

  @media screen and (max-width: 520px) {
    header {
      padding: 2em 0;
    }
  }
</style>

<header class="sticky top-0 z-100 w-full bg-transparent backdrop-blur">
  <div class="max-w-4xl mx-auto px-2 flex flex-col items-center">
    <img
    src = "/assets/kats-korner.png" alt = "Kats' Korner" class="w-md self-center hover:scale-[1.1] transition-transform"
   />
    <nav class=" flex space-x-8 uppercase tracking-[0.2em] text-[10px] md:text-xs">
        <a href="/" class="text-white/80 hover:text-mid-ocean transition-colors">Projects</a>
        <a href="/about-kat" class="text-white/80 hover:text-mid-ocean transition-colors">About-Kat</a>
        <a href="/kat-love" class="text-white/80 hover:text-mid-ocean transition-colors">Kat Love</a>
    </nav>
  </div>
</header>

